:root {
    --bg: #141414;
    --bg2: #3C3C3C;
    --laranja: #ee620c;
}


* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}

body {
    background-color: var(--bg);
}


main {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.home, .sobre, .faca-parte, .patrocinios, .servidores, .equipe, .faq, .contatos {
    margin: 150px 0;
}

/* Navbar */

.sidebar {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: #000;
    padding: 12px 16px;
    overflow: hidden;
}

.openSide-content {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    padding: 12px 16px;
    position: fixed;
    top: 0;
    left: 0;
}

.openSide {
    all: unset;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.5s ease;
}

.openSide:hover {
    color: var(--laranja);
}

.sidebarBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: all 0.5s ease;
}

.sidebarMenu {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.sideButton {
    all: unset;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

.sidebarBtn:hover {
    color: var(--laranja);
}

.sidebarMenu span {
    background-color: #fff;
    width: 15px;
    height: 3px;
}

.sidebarList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    list-style: none;
}

.sidebarItem {
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    transition: all 0.5s ease;
}

.sidebarItem:hover {
    scale: 1.4;
    color: var(--laranja);
}

.home-navbar {
    display: absolute;
    position: fixed;
    left: 0;
    top: 0;
}

/* Homepage */

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.equipes-content {
    text-align: center;
    width: 50%;
    background-color: var(--bg2);
    padding: 12px 16px;
    border-radius: 12px;
}

.equipes, .equipes img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}

.equipes img:hover {
    scale: 1.2;
    cursor: pointer;
}


/* Sobre */

.sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.sobre-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background-color: var(--bg2);
    padding: 20px;
    border-radius: 12px;
}

.sobre-text h2, h3 {
    color: var(--laranja);
}

/* Faça parte */

.faca-parte {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.faca-parte-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background-color: var(--bg2);
    padding: 20px;
    border-radius: 12px;
}

.faca-parte-text h2 {
    color: var(--laranja);
}

.faca-parte-text ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.faca-parte-text strong {
    font-size: 20px;
}

.faca-parte-text a {
    text-decoration: none;
    color: blue;
}

.aplicar {
    all: unset;
    background-color: var(--laranja);
    padding: 10px 20px;
    border-radius: 12px;
    color: #fff !important;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.5s ease;
}

.aplicar:hover {
    transform: scale(1.1);
}

/* Patrocínio */

.patrocinios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.patrocinadores {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.patrocinadores li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: var(--bg2);
    padding: 20px;
    border-radius: 12px;
    width: 30%;
}

.patrocinadores li a {
    text-decoration: none;
}

.patreon-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    list-style: none;
    background-color: var(--bg2);
    padding: 20px;
    border-radius: 12px;
    width: 100%;
}

.patreon-item img {
    width: 60%;
}

.patrocinios-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.7);
}

dialog {
    justify-content: center;
    align-items: center;
    border: none;
    background-color: var(--bg2);
    border-radius: 12px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ser-patrocinador, .apoiar {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    border: none;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #fff;
}

.patreon-modal {
    padding: 20px;
}


/* Servidores */

.servidores {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.box-servers {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.box-server-left, .box-server-right {
    background-color: var(--bg2);
    padding: 20px;
    border-radius: 12px;
}

.box-server-left {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.box-server-left ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.box-server-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.servers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    list-style: none;
}

.servers button {
    all: unset;
    background-color: var(--laranja);
    padding: 10px 20px;
    border-radius: 12px;
    color: #fff !important;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.5s ease;
    width: 100%;
    text-align: center;
}

.servers button:hover {
    transform: scale(1.1);
}

.prio-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.prio-text ul {
    list-style: none;
}

.prio-text ul span {
    font-weight: bold;
    color: var(--laranja);
}

.euro-truck, .ark, .minecraft, .valheim {
    display: flex;
    gap: 60px;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    font-size: 18px;
    color: #fff;
    background-color: var(--bg2);
    padding: 20px;
    border-radius: 12px;
}

.euro-truck-text, .ark-text, .minecraft-text, .valheim-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 400px;
}

.euro-truck button, .ark button, .minecraft button, .valheim button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.euro-truck button:hover, .ark button:hover, .minecraft button:hover, .valheim button:hover {
    transform: scale(1);
}

.euro-truck span, .ark span, .minecraft span, .valheim span {
    color: #ee620c;
    font-weight: bold;
    font-size: 24px;
}

/* Equipe Headstaff */

.equipe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.equipe h1 {
    color: var(--laranja);
}

.equipe-cards {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.equipe-card-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: var(--laranja);
    padding: 20px;
    border-radius: 12px;
    width: 100%;
    transition: all 0.5s ease;
}

.equipe-card-item:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.equipe-card-item img {
    width: 50%;
    border-radius: 500px;
}

.head-staff-member {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.img-headstaff {
    width: 100%;
    padding: 40px;
}

.head-staff-member-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.head-staff-member button {
    all: unset;
    background-color: var(--laranja);
    text-align: center;
    padding: 12px;
    border-radius: 12px;
    transition: all 0.5s ease;
    cursor: pointer;
    width: 50%;
}

.head-staff-member button:hover {
    transform: scale(1.1);
}

.redes-sociais {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.redes-sociais li {
    transition: all 0.5s ease;
    border: none;
}

.redes-sociais li:hover {
    transform: scale(1.1);
}


/* F.A.Q */

.faq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.faq-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    padding: 20px;
    border-radius: 12px;
}

.faq-questions {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.faq-questions li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: 1px solid #fff;
    padding: 12px 16px;
    border-radius: 12px;
    background-color: var(--laranja);
}

.faq-questions-text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.desc {
    display: none;
    transition: all 0.5s ease;
}

.faq-questions li:hover .desc {
    display: block;
}

/* Contatos */

.contatos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.contatos h1 {
    color: var(--laranja);
}

.contatos-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.contatos-left, .contatos-right {
    background-color: #3C3C3C;
    padding: 20px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.contatos-left h3, .contatos-right h3, .contatos-left span, .contatos-right span {
    color: var(--laranja);
}

.contatos-left ul, .contatos-right ul {
    list-style: none;
    font-size: 18px;
    font-weight: bold;
}

.contatos-left a, .contatos-right a {
    color: #fff;
    text-decoration: underline;
}